{% macro ephemeral_nav_link(what, where, selected=False) -%}
<li class="ephemeral{% if selected %} selected{% endif %}"><a href="{{ SITEURL }}/{{ where }}">{{what}}</a></li>
{%- endmacro -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=" a flask application similar to Twitter just For Fun! ">
    <meta name="og:breeze" property="og:breeze" content=" a flask application similar to Twitter just For Fun! ">
    <meta name="twitter:card" content="mmdbalkhi">
    <link rel="canonical" href="https://mmdbalkhi.github.io/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-earthly.css" type="text/css" />

    <title>{% block title %} {% endblock %}</title>
    <style>
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="center">
        <nav>
            {% block ephemeral_nav %}{% endblock %}
                {% if DISPLAY_HOME or DISPLAY_HOME is not defined %}
                    {% if output_file == "index.html" %}{% endif %}<a href="{{ SITEURL }}/">Home</a> | 
                {% endif %}
                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in pages %}
                        {% if p == page %} {% endif %} <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a> | 
                    {% endfor %}
                {% endif %}
                {% for title, link in MENUITEMS %}
                    <a href="{{ link }}">{{ title }}</a> | 
                {% endfor %}
                {% for name, link, file in MENU_INTERNAL_PAGES %}
                    {% if output_file == file %} {% endif %}<a href="{{ SITEURL }}/{{ link }}">{{ name }}</a> | 
                {% endfor %}
        </nav>
    </div>
    {% block content %} {% endblock %}

    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/872f587f26.js" crossorigin="anonymous"></script>

    <script>
        function addDarkmodeWidget() {
            new Darkmode({
                label: "🌓"
            }).showWidget();
        }
        window.addEventListener("load", addDarkmodeWidget);
    </script>
</body>

</html>
